.App {
  /* text-align: center; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: grid;
  grid-template-columns: 1fr 700px 1fr;
  grid-template-rows: 1fr 800px 1fr; */
}

.container {
  border: solid 1px red;
  height: 50%;
  /* width: 50%; */
  /* min-width: ; */
}

.mention {
  /* border: solid 1px blue;
  height: 110px;
  width: 100%;
  display: flex; */
}
