@import "./color.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  border: solid 1px $light-grey;
  height: 63%;
  min-width: 250px;
  max-width: 425px;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr auto;

  .error_message {
    max-width: 72%;
    text-align: center;
  }

  .loader,
  .error_message {
    align-self: center;
    justify-self: center;
    // margin-top: auto;
    // margin-bottom: auto;
  }

  .container_bottom {
    display: flex;
    justify-content: center;
    button {
      display: inline-block;
      border: none;
      padding: 1rem 2rem;
      margin: 18px;

      // width: 60px;
      text-decoration: none;
      font-family: sans-serif;
      font-size: 1rem;
      cursor: pointer;
      text-align: center;
      transition: background 250ms ease-in-out, transform 150ms ease;
      -webkit-appearance: none;
      -moz-appearance: none;
      &:hover {
        $brightness: 90%;
        filter: brightness($brightness);
        -webkit-filter: brightness($brightness);
        transition: all 0.2s ease-in;
      }
    }
  }
}

.container_mentions {
  flex-direction: column;
  display: flex;
  overflow-y: scroll;
}

.mention {
  height: 120px;
  border-bottom: solid 1px $light-grey;
  width: 100%;
  display: grid;
  grid-template-columns: 75px minmax(140px, 1fr);

  grid-template-rows: 1fr;
  padding: 16px 12px 16px 0;
  box-sizing: border-box;

  .img_container {
    display: flex;

    align-items: center;
    flex-direction: column;

    .icon_container {
      position: relative;
      margin-bottom: 20px;
    }

    .icon {
      border-radius: 100px;
      width: 42px;
      height: 42px;
      border: solid 1px $light-grey;
    }

    .icon_empty {
      background-color: $light-grey;
    }
    .source_type {
      border: solid 2px white;
      border-radius: 100px;
      position: absolute;
      height: 18px;
      width: 18px;
      bottom: -10px;
      right: -10px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      padding: 2px;
    }

    .marker_read {
      height: 10px;
      width: 10px;
      border-radius: 100px;
      background-color: $blue;
    }
  }

  .textblock {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    position: relative;
    & > span {
      margin: 4px 0;
    }
    .date {
      margin-left: auto;
      color: $blue;
    }
    .source {
      color: $grey;
      max-width: 70%;
      overflow: hidden;
    }
    .title {
      font-weight: bolder;
    }
    .description {
      min-height: 36px;
    }
  }
  &:hover {
    cursor: pointer;
    background-color: $light-background;
    transition: background-color 0.2s;
  }
}

.hide {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 60px;
}

.two-cols {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
